{{#partial "content"}}
    <section class="landing-png">
        <div class="landing-left"></div>
        <div class="landing-right"></div>
        <div class="hero-img"></div>
        <div class="hero-desc">
        <h2>Making the world a better place!</h2>
            <a href="/hero-form"><button class="hero-btn btns">Create Hero</button> </a></div>
    </section>
    {{/partial}}
{{>layout.hbs}}