{{#partial "content"}}
    <div class="hero-desc">
        <h2>Making the world a better place!</h2>
        <a href="/hero-form"><button class="hero-btn btns">Create Hero</button> </a>
    </div>

{{/partial}}
{{>layout.hbs}}